@font-face {
    font-family: LibreBaskerville-Regular;
    src: url(../fonts/LibreBaskerville-Regular.ttf);
}

body {
	font-family: arial, sans serif;
	font-size: 16px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	background-color: #fff; 
}

body, a {
	color:#667;
}

h1, h2, h3, h4, h5, h6 {
	font-family: LibreBaskerville-Regular, arial, sans serif;
	margin-bottom: 6px;	
	margin-top: 6px;	
}

img {
	width: 100px;
}

.indented {
	padding-left: 50px;
}

.column {
	float: left;
	width: 320px;
}
.images {
	margin-bottom: 10px;	
	margin-top: 10px;	
	font-size:0;
}

.clickable {
	text-decoration: none; 
}

.clickable:hover {
	outline: 1px solid #667;
	cursor: pointer;
	text-decoration: none; 
}

.empty {
	display: none;
}
