<div class="column indented">
	<{{htmlHeader}}>
		<span class="closed" id="{{& id}}">{ {{title}} </span>
	</{{htmlHeader}}>
	<div class="{{& id}}_content indented js_closed">
		{{>images}}
		{{#info}}	
		<{{htmlSubheader}}>
			<span class="closed" id="{{& id}}_info">{ Info </span>
		</{{htmlSubheader}}>
		<div class="{{& id}}_info_content js_closed">
			<div class="indented">{{{info}}}</div>
			<{{htmlSubheader}}>}</{{htmlSubheader}}>
		</div>				
		{{/info}}
		<div class="{{linksClass}}">
			<{{htmlSubheader}}>
				<span class="closed" id="{{& id}}_links">{ Links </span>
			</{{htmlSubheader}}>
			<div class="{{& id}}_links_content js_closed">
				<div class="indented">
					{{#links}}	
					<a href="{{& .}}" class="clickable">{{& .}}</a>
					{{/links}}
				</div>
				<{{htmlSubheader}}>}</{{htmlSubheader}}>
			</div>				
		</div>
	</div>
</div>

<div class="indented {{& id}}_content js_closed">
{{#collections}}{{>collection}}{{/collections}}
</div>

<{{htmlHeader}} class="{{& id}}_content column indented js_closed">}</{{htmlHeader}}>
