<div class="column indented">
	<{{htmlHeader}}>
		<span class="open" id="{{& id}}">{ {{title}} </span>
	</{{htmlHeader}}>
	<div class="{{& id}}_content indented">
		{{>images}}
		{{#info}}	
		<{{htmlSubheader}}>
			<span class="open" id="{{& id}}_info">{ Info </span>
		</{{htmlSubheader}}>
		<div class="{{& id}}_info_content">
			<div class="indented">{{{info}}}</div>
			<{{htmlSubheader}}>}</{{htmlSubheader}}>
		</div>				
		{{/info}}
	</div>
</div>

<div class="indented">
{{#collections}}{{>collection}}{{/collections}}
</div>

<div class="{{& id}}_content column indented">
	<{{htmlHeader}}>
		<span class="{{& id}}_content">}</span>
	</{{htmlHeader}}>
</div>
