<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nick Boon</title>
	<link rel="icon" href="swallow.gif">
	<link href="css/normalize.css" rel="stylesheet">
	<link href="css/portfolio.css" rel="stylesheet">	
	
	<script>document.write('<style>.closed:after { content: "}"; } .js_closed {display:none}</style>');</script>

	<!-- for live use cdn-->	
	<script src="js/jquery-1.7.1.min.js"></script>
</head>
<body>	
	{{>collection}}
	
	<!-- for live minify this-->
	<script src="./js/portfolio.js"></script>	
</body>
</html>
