<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nick Boon</title>

    <link rel="icon" href="swallow.gif">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet">
	<link href="css/lightbox.min.css" rel="stylesheet">	
	<link href="css/portfolio.css" rel="stylesheet">	
	
	<script>document.write('<style>.closed:after { content: "{{end}}"; } .js_closed {display:none}</style>');</script>
</head>
<body>	
	{{>collection}}
	<script src="js/jquery.min.js"></script>	
	<script src="js/masonry.pkgd.min.js"></script>	
	<script src="js/lightbox.min.js"></script>	
	<script src="js/portfolio.js"></script>	
</body>
</html>
